<html>

<body>
	<div th:fragment="footer" th:remove="tag">
		<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © KafkaWatcher.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Develop by Aykut Gundogdu
                </div>
            </div>
        </div>
    </div>
</footer>
	</div>
</body>

</html>