<html>

<body>
	<div th:fragment="topbar" th:remove="tag">
		<header id="page-topbar">
			<div class="layout-width">
				<div class="navbar-header">
					<div class="d-flex">
						<!-- LOGO -->
						<div class="navbar-brand-box horizontal-logo">
							<a href="/" class="logo logo-dark">
								<span class="logo-sm">
									<img src="/assets/images/logo-sm.png" alt="" height="22">
								</span>
								<span class="logo-lg">
									<img src="/assets/images/logo-dark.png" alt="" height="17">
								</span>
							</a>

							<a href="/" class="logo logo-light">
								<span class="logo-sm">
									<img src="/assets/images/logo-sm.png" alt="" height="22">
								</span>
								<span class="logo-lg">
									<img src="/assets/images/logo-light.png" alt="" height="17">
								</span>
							</a>
						</div>

						<button type="button"
							class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger"
							id="topnav-hamburger-icon">
							<span class="hamburger-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</button>

					</div>

					
				</div>
			</div>
		</header>

	</div>
</body>

</html>